
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Quicksand:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Montserrat:wght@300;800&family=Quicksand:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #331D2C;

}




.logo img{
    width: 6.5rem;
    margin-left: 0.25rem;
    margin-right: 0.7rem;
   
}

.logo span{
    margin-left: 2rem;
    transition: 0.5s ease-out;
   
}

.logo{
    display: flex;
    width: 4rem;
    padding: 1.5rem;
    align-items: center;
    font-size: 1.9rem;
    font-family: 'Quicksand', sans-serif;
    color: #EFE1D1;
    white-space: nowrap;
    transition: 0.5s ease-out;
}

@media (max-width: 510px){
    .logo span{
    
        display: none;
        
    }

    
    .spotify iframe{
        width: 80vw;
        height: 60vh;
    }

}



.hamb{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #EFE1D1;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 1rem;
}

.hamb::before,
.hamb::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #EFE1D1;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 860px){
    .hamb{
        display: block;
        z-index: 1;

    }
    .nav-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #331D2C;
        background-image: url(/assets/images/chuback.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 10rem;
        clip-path: inset(0 0 0 100%);
        
        transition: 0.3s ease-out;
        padding-block: 8rem;


        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a{
        font-size: 20px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a{
        transition: 0,5s ;

    }

    .nav-list li:nth-child(2) a{
        transition: 0,5s 0.4s;
    }

    .nav-list li:nth-child(3) a{
        transition: 0,5s 0.6s;
    }
    
    .nav-list li:nth-child(4) a{
        transition: 0,5s 0.8s;
    }


    .nav.active .nav-list{
        clip-path: inset(0 0 0 0);
        pointer-events: all;
        
    }

    .nav.active .nav-list a{
        opacity: 1;
    }

    .nav.active .hamb{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamb::before{
        transform: rotate(135deg);
        background-color: #EFE1D1;
    }

    .nav.active .hamb::after{
        transform: rotate(-135deg);
        background-color: #EFE1D1;
        top: -7px;
    }
}


.nav{
    top: 0;
    width: 100vw;
    position:fixed;
    display: flex;
    background-color: #331D2C;
    justify-content: space-between;
    align-items: center;
    max-height: 3.5rem;
    padding-inline: 16px;  
    padding-right: 2rem;
}



.nav-list{

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    color: #8FC0A9;
    gap: 1.5rem;
    
}

.nav-list a{
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #C8D5B9;
    padding-block: 1rem;
}

.nav-list a:hover{
    color: #8FC0A9;
    
}

.texto_sobre h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #59544A;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    font-weight: 800;
}

#sobre{
    display: flex;
    padding: 1rem;
    margin-top: 3.52rem;
    text-align: left;
    color: #3F2E3E;
    font-family: 'Montserrat', sans-serif;
    background-color: #A78295;
    z-index: 1;
    
    
}

@media only screen and (max-width: 720px) {

    #sobre{
        flex-direction: column-reverse;
    }

    #sobre img {
        max-width: 100%;
        height: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.texto_sobre{
    margin-right: 2rem;
}

#sobre img{
    max-width: 19rem;
    max-height: 19rem;
    height: auto;
    border-radius: 0.4rem;
}

#meu_video{
    font-family: 'Montserrat', sans-serif;
    background-color: #3F2E3E;
    padding-left: 1rem;
    color: #EFE1D1;

}

#video{
    display: flex;
    flex-direction: column;
    background-color: #3F2E3E;
    padding: 1rem;
    color: #EFE1D1;
    font-family: 'Montserrat', sans-serif;
}

#video iframe{
    padding: 0.2rem;
    margin-top: 1.5rem;
    background-color: #A78295;
    border-radius: 0.5rem;
    flex-shrink: 1;
}

@media (max-width: 570px){
    #video iframe{
        width: 80vw;
        
    }
}

#video h4{
    margin-top: 0.5rem;
    color: #EFE1D1;
    margin-bottom: 1rem;
    font-weight: 600;
}


h5{
    font-family: 'Montserrat', sans-serif;
    color: #EFE1D1;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: large;
}

.spotify{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3F2E3E;
    padding: 1rem;
    
}
.spotify iframe{
    transition: 0.5s ease-out;
}



footer{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: #3F2E3E;
}

.redes_sociais img{
    
    width: 1rem;
    height: 1rem;
}

